<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}FOSS4G UK 2019 Edinburgh{% endblock %}</title>
<body>
  <header>
    <h1>FOSS4G UK 2019 Edinburgh</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li><a href="/workshopbookings">Workshop List</a></li>
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>

  </footer>
</body>
